@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

body {
    font-family: 'Syne', sans-serif;
    margin: 0 10% 0 10%;
    background-color: white;
    color: #232323;
  }

.navbar {
    ul, li {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        list-style-type: none;
        padding-left: 20px;
        font-size: 16px;
        top: 0px;
    }

    ul {
        transform: rotateZ(90deg);
        position: fixed;
        width: 1000px;
        height: 80px;
        top: 66%;
        right: -460px;
        display: inline-flex;
    }


    a {
        text-align: center;
        padding-top: 10px;
        width: 100px;
        height: 40px;
        color: black;
        font-weight: 200;
        text-decoration: none;
        display: inline-block;
    }

    a:hover {
        background-color: white;
        color: #232323;
        font-weight: 700;
    }
}


.hero {
    width: 80%;
    height: 1080px;

    h1 {
        font-weight: 800;
        font-size: 50px;
        position: relative;
        top: 40vh;
        margin: 0;
    }

}

.mapstyle {
    margin-top: 300px;
    padding-top: 300px;
    width: 90%;
    height: 675px;
    position: relative;
}

.marker {
    background-color: #232323;
    background-size: cover;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    cursor: pointer;
  }
  .mapboxgl-popup {
    width: 700px;
    height: 620px;
  }
  .mapboxgl-popup-content {
    width: 300px;
    text-align: left;
  }

  .mapboxgl-popup-content h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Syne', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #232323;
    line-height: 20px;
  }

  .mapboxgl-popup-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #232323;
    line-height: 20px;
    margin: 0;
  }

  .mapboxgl-popup-content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #232323;
    line-height: 0;
}

.mapboxgl-popup-close-button {
    display: none;
  }

.mapboxgl-ctrl-compass {
    display: none !important;
    }


.about {
    margin-top: 400px;
    padding-top: 30%;
    padding-bottom: 400px;
    width: 80%;
    height: 600px;

    .text {
        float: left;
    }

    h2 {
        font-weight: 800;
        font-size: 60px;
        margin: 0;
        padding: 0;
    }

    p {
        height: 100%;
        width: 100%;
        font-size: 15px;
        columns: 1;
        line-height: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }
} 

/* The work below, CSSBox, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/CSSBox. You are not required to add
   additional credit to your website, just leave the above text in this file */
 
   .container {
    padding-top: 70px;   
    padding-left: 1%;
    padding-bottom: 150px;
   }
   div.cssbox {
    display: inline-block;
  }
  
.cssbox_thumb {
    width: 70vw;
    height: auto;
}

  span.cssbox_full {
    z-index: 999999;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    transition: opacity 0.5s linear;
  }
  
  span.cssbox_full img {
    position: fixed;
    background-color: white;
    margin: 0;
    padding: 0;
    max-height: 90%;
    max-width: 90%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px black;
  }
  
  a.cssbox_close,
  a.cssbox_prev,
  a.cssbox_next {
    z-index: 999999;
    position: fixed;
    text-decoration: none;
    visibility: hidden;
    color: white;
    font-size: 36px;
  }
  
  a.cssbox_close {
    top: 1%;
    right: 1%
  }
  
  a.cssbox_close::after {
    content: '\00d7';
  }
  
  a.cssbox_prev,
  a.cssbox_next {
    top: 50%;
    transform: translate(0%, -50%);
  }
  
  a.cssbox_prev {
    left: 5%;
  }
  
  a.cssbox_next {
    right: 5%;
  }
  
  a:target ~ a.cssbox_close,
  a:target ~ a.cssbox_prev,
  a:target ~ a.cssbox_next {
    visibility: visible;
  }
  
  a:target > img.cssbox_thumb + span.cssbox_full {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
  }

//

.contact {
    padding-top: 300px;
    width: 80%;
    height: 600px;

    h2 {
        font-weight: 800;
        position: relative;
        left: 8%;
        font-size: 40px;
        margin: 0;
        text-align: center;
    }
    p {
        font-size: 15px;
        position: relative;
        left: 8%;
        top: -20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-align: center;

        a,
    a:link,
    a:visited,
    a:hover,
    a:active{
    text-decoration: none;
    color: #232323;
    }

    a:hover {
        font-weight: 800;
    }

    }
}

@media only screen and (min-width: 768px) {
    .hero{
        width: 80%;

        h1{
            font-size: 120px;
        }
    }

    .mapstyle {
        width: 100%;
        padding-bottom: 0;
    }

    .about {
        width: 80%;
        padding-top: 300px;
        padding-bottom: 0;

        h2 {
            font-size: 100px;
        }

        p {
            height: 100%;
            width: 100%;
            font-size: 15px;
            columns: 2;
            line-height: 25px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            margin: 0;
            padding: 0;
        }
    }

    .contact {
        padding-top: 400px;

        h2 {
            font-size: 100px;
        }

        p {
            font-size: 20px;
            top: -30px;
        }
    }

    .container {
        padding-top: 250px;   
        padding-left: 1%;
        padding-bottom: 0;
        width: 100%;
       }

       .cssbox_thumb {
        width: 35vw;
        height: auto;
    }
    
}

@media only screen and (min-width: 1080px) {
    .hero{
        width: 80%;

        h1{
            font-size: 120px;
        }
    }

    .mapstyle {
        width: 100%;
    }

    .about {
        width: 80%;
        padding-bottom: 0;

        h2 {
            font-size: 100px;
        }

        p {
            height: 100%;
            width: 100%;
            font-size: 15px;
            columns: 2;
            line-height: 25px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            margin: 0;
            padding: 0;
        }
    }

    .contact {
        h2 {
            font-size: 100px;
        }

        p {
            font-size: 20px;
            top: -30px;
        }
    }

    .container {
        padding-top: 300px;   
        padding-left: 1%;
        padding-bottom: 100px;
        width: 100%;
       }

       .cssbox_thumb {
        width: 19vw;
        height: auto;
    }
    
}